.wrapper_show
  .wrapper.title
    %h1= simple_format(@note.title)
  .wrapper_title
    %p= simple_format(@note.content)

  .wrapper_note_tools
    -# = link_to "All Notes", notes_path
    -# %i.fa.fa-file-text-o
    .wrapper_edit
      = link_to edit_note_path(@note) do
        %i.fa.fa-pencil-square-o
        Edit Note

    .wrapper_delete
      = link_to note_path(@note), method: :delete, data: { confirm: "Are you sure you want to delete?" } do
        %i.fa.fa-trash-o
        Delete

