.banner
  .heading
    %h1 Plain Text Rails.
    .padding_left
      %br
      %p Click the Sign Up button to create an account or the Log In one with your account information.
    %div.button_links
      .button_child
        %button= link_to "Sign Up", new_user_registration_path
      .button_child
        %button= link_to "Log In", new_user_session_path

%div.quote_align
  .quote
    %div
      %h3 The Wife.
      .quote_darken
        %p Are you still working on that webpage ruby rail thing?!
      %br

    %div
      %h3 The Son.
      .quote_darken
        %p Dadada da da, ma mama ma da ma da ma biig truck da daa da da.
      %br

    %div
      %h3 Myself.
      .quote_darken
        %p I think I need to buy a coke and pizza.
      %br


%footer_wrapper
  %footer
    -# %p Footer text goes here
