.banner
  .heading
    %h1 Notey Mc Noteface.
    .padding_left
      %p Click the Sign Up button to create an account or the Log In one with your account information.
    %div.button_links
      .button_child
        %button= link_to "Sign Up", new_user_registration_path
      .button_child
        %button= link_to "Log In", new_user_session_path

%div.quote_align
  .quote
    %div
      %h3 My Wife
      %p Are you still working on that web rails thing?!
      %br

    %div
      %h3 David
      %p This is an app that does things when the user does things. Do the thing.
      %br

    %div
      %h3 Yang
      %p Looking at this puts me in a food coma.
      %br

%footer_wrapper
  %footer
    -# %p Footer text goes here
