// @import "materialize";
/*
*= require_self
*/

$base: #343D46;
$blue: #90A1B2;
$green: #A4BD8E;
$purple: #B38FAC;

@import 'normalize.css.scss';
@import 'notes.css.scss';
@import 'welcome.css.scss';

header {
  padding-left: 10px;
}
h2 {
}



