// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=Roboto);

$highlight: #00CDCF;
$button1: #009A9C;

$border: #E3E3E3;
$note: #F7F7F7;
$button2: #555555;

* {
  text-align: center;
  background: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}

body {
  // font-family: Consolas, Lucida Console, monospace;
  font-family: 'Roboto', sans-serif;
  // a:link {  color: black; text-decoration: none; }
  // a:active {  color: black; text-decoration: underline; }
  // a:visited { color: black; text-decoration: none; }
  // a:hover { text-decoration: none; }
}

#white {
  color: white;
  background: $highlight;
}
// Link the top $highlight color together
.heading {
  min-height: 100px;
  border: 1px solid $border;
  background: $highlight;
  padding-top: 5%;
  h2 {
    color: white;
  }
  h1 {
    color: white;
  }
  p {
    color: $border;
  }
}

.wrapper_titlebar {
  display: -webkit-flex;
  display: flex;
  flex-grow: 1;
  color: white;
}

.wrapper_child {
  flex-grow: 1;
  font-size: 1.2em;
}

//Notes

.note_container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-center;
  align-content: flex-center;
  align-items: flex-center;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
}

.note {
  // TODO: Need to add a clear fix things - some notes spill over the side
  background: $note;
  border: 1px solid $border;
  flex-grow: 1;
  min-width: 15%;
  // justify-content: center;
  // text-align: center;
  margin: 5px;
  padding: 2% 8%;
}

.note:hover {
  color: $button1;
}

.title {
  font-size: 1.2em;
  font-weight: bold;
}

.title:hover {
  color: $highlight;
}

.date {
  font-size: .8em;
  color: $button2;
}

.wrapper_show {
  background: $note;
  border: 1px solid $border;
  flex-grow: 1;
  min-width: 15%;
  margin: 5px;
  padding: 2% 8%;
  display: block;;
}

.wrapper_child a:hover {
  color: $button2;
}

//Quotes
.quote_align {
  padding-top: 5%;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.quote {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  min-width: 15%;
  justify-content: center;
  text-align: center;
  margin: 5px;
  padding: 0 3%;
  p {
    padding: 0 10px;
    margin: 10px;
  }
}

.httparty_quotes {
  color: $button2;
  font-style: italic;
}

.alert {
  color: $highlight;
}

.notice {
  color: $highlight;
}

//Buttons

button {
  background: $button1;
  // TODO go to $button2 on hover
  border: $border;
  outline: none;
  padding: 1rem 3.5rem;
  color: white;
  margin: 2rem 0;
  a {
    text-decoration: none;
  }
}

.button_links {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.button_child {
  text-align: center;
  min-width: 50%;
}

.btn {

  cursor: pointer;
  background: $button2;
  color: white;
  border: $border;
  outline: none;
  padding: 1rem 3.5rem;
  color: white;
  margin: 2rem 0;
}
.btn:hover{
  color: $button1;
}

button:hover{
  background: $button2;
}

//Text Area
input[type="text"], input[type="email"], input[type="password"], textarea {
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid $border;
  border-radius: .4rem;
}

// TODO: Fix width on signup text boxes


input[type="text"], input[type="email"], input[type="password"] {
  height: 40px;
}

textarea {
  min-height: 200px;
}

.form-inputs {
  padding-left: 15%;
  padding-right: 15%;
}
input email optional user_email {
}

.wrapper_tool {
  padding-top: 4%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-center;
  align-content: flex-center;
  align-items: flex-center;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
}

// tool
.tool {
  color: $button2;
  flex-grow: 1;
}

.tool:hover {
  color: $button1;
}

.footer_wrapper {
  padding-bottom: 20px;
}

.footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:20px;
}
