// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper_new_logout {
  font-size: 2em;
  float: left;
  // position: relative;
  // Put this at the top of the page
}

body {
  font-family: Consolas, Lucida Console, monospace;
  background: #333C46;
  color: #DEE0E7;
  a:link {color: #90A1B2; text-decoration: underline; }
  a:active {color: #97B5B4; text-decoration: underline; }
  a:visited {color: #A4BD8E; text-decoration: underline; }
  a:hover {color: #B38FAC; text-decoration: underline; }
}

h1 {
  color: #90A1B2;
  font-size: 2.5em;
}


h2 {
  color: #90A1B2;
  font-size: 2em;
}

button {
  font-size: 1.5em;
}
